<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_004 {
            font-family: Arial, serif;
            font-size: 18.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Arial, serif;
            font-size: 18.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Arial, serif;
            font-size: 11.7px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Arial, serif;
            font-size: 11.7px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_003 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Arial, serif;
            font-size: 14.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Arial, serif;
            font-size: 14.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Arial, serif;
            font-size: 14.0px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Arial, serif;
            font-size: 14.0px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Arial, serif;
            font-size: 8.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Arial, serif;
            font-size: 8.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: italic;
            text-decoration: none
        }

        span.cls_013 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_013 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_015 {
            font-family: Arial, serif;
            font-size: 14.0px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        div.cls_015 {
            font-family: Arial, serif;
            font-size: 14.0px;
            color: rgb(50, 100, 151);
            font-weight: bold;
            font-style: italic;
            text-decoration: none
        }

        span.cls_017 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 100, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_017 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 100, 255);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }
        -->
    </style>
    <script type="text/javascript"
        src="fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_id_fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>

<body>
    <div
        style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_id_fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_files/background1.jpg"
                width=612 height=792></div>
        <div style="position:absolute;left:236.70px;top:162.30px" class="cls_004"><span class="cls_004">Executive
                Summary</span></div>
        <div style="position:absolute;left:180.96px;top:182.94px" class="cls_004"><span class="cls_004">Introducing IBM
                Smarter Rewards</span><span class="cls_005"><sup>TM</sup></span></div>
        <div style="position:absolute;left:55.80px;top:257.94px" class="cls_007"><span class="cls_007">We know that a
                lot of money has evaporated in the current financial crisis — but what</span></div>
        <div style="position:absolute;left:56.76px;top:271.74px" class="cls_007"><span class="cls_007">exactly is it
                that has been lost? … Money has been reduced to zeros and ones. It’s</span></div>
        <div style="position:absolute;left:56.76px;top:285.54px" class="cls_007"><span class="cls_007">intangible,
                invisible. It’s information. Which is central both to the problem we face and</span></div>
        <div style="position:absolute;left:56.76px;top:299.34px" class="cls_007"><span class="cls_007">to its
                solution.</span></div>
        <div style="position:absolute;left:300.12px;top:313.14px" class="cls_008"><span class="cls_008">IBM's Smarter
                Money for a Smarter Planet</span></div>
        <div style="position:absolute;left:39.72px;top:377.52px" class="cls_003"><span class="cls_003">DualCurrency
                Systems (DCS) proposes Smarter Rewards™ to IBM as a source of new financial resources</span></div>
        <div style="position:absolute;left:39.72px;top:390.18px" class="cls_003"><span class="cls_003">for the Smarter
                Planet initiative and to accelerate sustainable global economic development. DCS brings:</span></div>
        <div style="position:absolute;left:75.72px;top:402.60px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> a patented payments platform that enables transaction settlement in a combination of
                cash and</span></div>
        <div style="position:absolute;left:93.72px;top:418.92px" class="cls_003"><span class="cls_003">Smarter Rewards,
                and</span></div>
        <div style="position:absolute;left:75.72px;top:431.40px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> a method for backing Smarter Rewards with currently underutilized business capacity
                found in</span></div>
        <div style="position:absolute;left:93.72px;top:447.66px" class="cls_003"><span class="cls_003">almost every
                enterprise.</span></div>
        <div style="position:absolute;left:39.72px;top:472.92px" class="cls_003"><span class="cls_003">This business
                model, which we call Dual Currency Commerce, creates new wealth without resorting to either</span></div>
        <div style="position:absolute;left:39.72px;top:485.58px" class="cls_003"><span class="cls_003">debt or
                taxes.</span></div>
        <div style="position:absolute;left:39.72px;top:510.72px" class="cls_010"><span class="cls_010">Smarter
                Rewards</span></div>
        <div style="position:absolute;left:39.72px;top:526.98px" class="cls_003"><span class="cls_003">Smarter Rewards
                creates new wealth through:</span></div>
        <div style="position:absolute;left:75.72px;top:539.46px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> a suite of non-cash incentives ranging from merchant loyalty rewards to employee
                benefits</span></div>
        <div style="position:absolute;left:93.72px;top:555.72px" class="cls_003"><span class="cls_003">to rewards for
                volunteer service, academic achievement, wellness milestones and green goals.</span></div>
        <div style="position:absolute;left:75.72px;top:568.20px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> rewards backed by the excess productive capacity of businesses and organizations
                (empty</span></div>
        <div style="position:absolute;left:93.72px;top:584.46px" class="cls_003"><span class="cls_003">restaurant tables
                and empty college desks; off-hours at oil change shops and fitness clubs; unsold</span></div>
        <div style="position:absolute;left:93.72px;top:597.12px" class="cls_003"><span class="cls_003">retail inventory,
                idle factory shifts and more).</span></div>
        <div style="position:absolute;left:75.72px;top:609.60px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> new purchasing power as consumers spend Smarter Rewards in combination with cash.
                For</span></div>
        <div style="position:absolute;left:93.72px;top:625.86px" class="cls_003"><span class="cls_003">example, a $20
                restaurant meal might cost $12 in cash and $8 in Smarter Rewards, while a $20</span></div>
        <div style="position:absolute;left:93.72px;top:638.52px" class="cls_003"><span class="cls_003">weekend pass to a
                health club might cost only $4 in cash and $16 in Smarter Rewards (based</span></div>
        <div style="position:absolute;left:93.72px;top:651.18px" class="cls_003"><span class="cls_003">upon their
                different marginal costs of production).</span></div>
        <div style="position:absolute;left:39.72px;top:676.44px" class="cls_003"><span class="cls_003">With modest
                enhancements to existing credit card and ecommerce platforms, Dual Currency Commerce can</span></div>
        <div style="position:absolute;left:39.72px;top:689.10px" class="cls_003"><span class="cls_003">improve
                efficiencies in any industry, in any community, for any culture and at any scale. The system is
                volun-</span></div>
        <div style="position:absolute;left:39.72px;top:701.76px" class="cls_003"><span class="cls_003">tary,
                business-led, market-based and profit-driven. It is self-funding from transaction fees and requires
                no</span></div>
        <div style="position:absolute;left:39.72px;top:714.42px" class="cls_003"><span class="cls_003">government
                subsidies. The technical infrastructure is at hand… which brings us to this discussion with IBM.</span>
        </div>
        <div style="position:absolute;left:38.88px;top:756.60px" class="cls_011"><span
                class="cls_011">Confidential</span></div>
        <div style="position:absolute;left:79.00px;top:756.60px" class="cls_011"><span class="cls_011">©2010
                DualCurrency Systems, Minneapolis, MN</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_id_fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_files/background2.jpg"
                width=612 height=792></div>
        <div style="position:absolute;left:38.88px;top:52.32px" class="cls_010"><span class="cls_010">The
                Opportunity</span></div>
        <div style="position:absolute;left:38.88px;top:68.58px" class="cls_003"><span class="cls_003">Electronic money
                accounts for 95% of all commerce, according to the Federal Reserve Bank. It continues to</span></div>
        <div style="position:absolute;left:38.88px;top:81.24px" class="cls_003"><span class="cls_003">evolve to include
                mobile payment platforms, online banking and other innovations. Each innovation creates</span></div>
        <div style="position:absolute;left:38.88px;top:93.84px" class="cls_003"><span class="cls_003">opportunities for
                technology companies that build and manage the new infrastructure. Dual Currency</span></div>
        <div style="position:absolute;left:38.88px;top:106.50px" class="cls_003"><span class="cls_003">Commerce is just
                such an opportunity. IBM can leverage its expertise and leadership to develop and manage</span></div>
        <div style="position:absolute;left:38.88px;top:119.16px" class="cls_003"><span class="cls_003">a global Dual
                Currency infrastructure as the economic engine for a Smarter Planet.</span></div>
        <div style="position:absolute;left:38.88px;top:144.48px" class="cls_003"><span class="cls_003">Revenue
                opportunities include:</span></div>
        <div style="position:absolute;left:74.88px;top:156.90px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> design and management of the Dual Currency ecosystem</span></div>
        <div style="position:absolute;left:74.88px;top:173.04px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> transaction fees</span></div>
        <div style="position:absolute;left:74.88px;top:189.12px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> customer service, consulting and training</span></div>
        <div style="position:absolute;left:74.88px;top:205.20px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> new intellectual property</span></div>
        <div style="position:absolute;left:38.88px;top:343.02px" class="cls_010"><span class="cls_010">Product
                Overview</span></div>
        <div style="position:absolute;left:38.88px;top:359.28px" class="cls_003"><span class="cls_003">The patented
            </span><span class="cls_012">Dual Currency Pricing, Accounting and Transaction Settlement System
            </span><span class="cls_003">manages the issuance</span></div>
        <div style="position:absolute;left:38.88px;top:371.88px" class="cls_003"><span class="cls_003">and redemption of
                noncash rewards that spend like cash. As designed for IBM, the system has three core</span></div>
        <div style="position:absolute;left:38.88px;top:384.54px" class="cls_003"><span
                class="cls_003">components:</span></div>
        <div style="position:absolute;left:74.88px;top:397.02px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> a new financial instrument ʊ Smarter Rewards™ ʊ which supplements traditional
                cash</span></div>
        <div style="position:absolute;left:90.96px;top:413.28px" class="cls_003"><span class="cls_003">purchasing
                power;</span></div>
        <div style="position:absolute;left:74.88px;top:425.76px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> the Dual Currency Payments Platform that seamlessly integrates cash and Smarter
                Rewards</span></div>
        <div style="position:absolute;left:90.96px;top:442.02px" class="cls_003"><span class="cls_003">within existing
                retail, banking, employer, credit card and ecommerce accounting and transaction</span></div>
        <div style="position:absolute;left:90.96px;top:454.68px" class="cls_003"><span class="cls_003">settlement
                systems; and</span></div>
        <div style="position:absolute;left:74.88px;top:467.16px" class="cls_009"><span class="cls_009">ƒ </span><span
                class="cls_003"> the IBM Virtual Community Warehouse that captures and monetizes excess business
                capacity as</span></div>
        <div style="position:absolute;left:90.96px;top:483.42px" class="cls_003"><span class="cls_003">a source of new
                business and community wealth</span></div>
        <div style="position:absolute;left:134.88px;top:511.98px" class="cls_010"><span class="cls_010">A Sample Smarter
                Rewards Transaction</span></div>
        <div style="position:absolute;left:134.88px;top:528.24px" class="cls_013"><span
                class="cls_013">Earn:</span><span class="cls_003"> Linda volunteers for Habitat for Humanity and earns
                15 Community Service</span></div>
        <div style="position:absolute;left:134.88px;top:540.84px" class="cls_003"><span class="cls_003">Dollars for each
                hour that she volunteers. She also donates blood to the Red Cross,</span></div>
        <div style="position:absolute;left:134.88px;top:553.50px" class="cls_003"><span class="cls_003">earning 50
                HealthBucks. As well, Linda has accumulated a variety of frequent flyer</span></div>
        <div style="position:absolute;left:134.88px;top:563.16px" class="cls_003"><span class="cls_003">miles and other
                loyalty rewards that she has had difficulty redeeming.</span></div>
        <div style="position:absolute;left:134.88px;top:604.14px" class="cls_013"><span class="cls_013">Convert:
            </span><span class="cls_003">Any type of reward can be converted to IBM Smarter Rewards (SR$).</span></div>
        <div style="position:absolute;left:134.88px;top:616.74px" class="cls_003"><span class="cls_003">SR$ 1.00 equals
                $1.00 in cash purchasing power in a Dual Currency</span></div>
        <div style="position:absolute;left:134.88px;top:629.40px" class="cls_003"><span class="cls_003">transaction
                through the </span><span class="cls_012">IBM Virtual Community Warehouse™.</span></div>
        <div style="position:absolute;left:134.88px;top:667.38px" class="cls_013"><span
                class="cls_013">Spend:</span><span class="cls_003"> Linda makes purchases using Smarter Rewards either
                online or at brick-and-</span></div>
        <div style="position:absolute;left:134.88px;top:679.98px" class="cls_003"><span class="cls_003">mortar
                establishments. She goes to Best Buy where a $2,000 appliance suite is</span></div>
        <div style="position:absolute;left:134.88px;top:692.64px" class="cls_003"><span class="cls_003">available for
                $1,700 in cash and $300 in Smarter Rewards. She goes online to</span></div>
        <div style="position:absolute;left:134.88px;top:705.30px" class="cls_003"><span
                class="cls_003">SmarterRewards.com to find other participating merchants and to check her account</span>
        </div>
        <div style="position:absolute;left:134.88px;top:717.96px" class="cls_003"><span class="cls_003">earning,
                spending and balance.</span></div>
        <div style="position:absolute;left:38.88px;top:756.60px" class="cls_011"><span
                class="cls_011">Confidential</span></div>
        <div style="position:absolute;left:79.00px;top:756.60px" class="cls_011"><span class="cls_011">©2010
                DualCurrency Systems, Minneapolis, MN</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-306px;top:1604px;width:612px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_id_fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_files/background3.jpg"
                width=612 height=792></div>
        <div style="position:absolute;left:38.88px;top:245.34px" class="cls_010"><span class="cls_010">Everyone wins
                with </span><span class="cls_015">Smarter Rewards</span></div>
        <div style="position:absolute;left:38.88px;top:261.60px" class="cls_003"><span class="cls_003">Merchants gain
                incremental sales and profits. Customers increase their purchasing power by spending</span></div>
        <div style="position:absolute;left:38.88px;top:274.26px" class="cls_003"><span class="cls_003">Smarter Rewards
                like cash. Loyalty Program Operators restore customer loyalty and remove reward liabilities</span></div>
        <div style="position:absolute;left:38.88px;top:286.92px" class="cls_003"><span class="cls_003">from their books.
                Community Organizations improve volunteer recruitment and retention. IBM and payment</span></div>
        <div style="position:absolute;left:38.88px;top:299.58px" class="cls_003"><span class="cls_003">systems partners
                increase revenues, improve CRM data collection and provide merchants and consumers</span></div>
        <div style="position:absolute;left:38.88px;top:312.18px" class="cls_003"><span class="cls_003">with new reward
                programs.</span></div>
        <div style="position:absolute;left:38.88px;top:756.60px" class="cls_011"><span
                class="cls_011">Confidential</span></div>
        <div style="position:absolute;left:79.00px;top:756.60px" class="cls_011"><span class="cls_011">©2010
                DualCurrency Systems, Minneapolis, MN</span></div>
    </div>
    <div
        style="position:absolute;left:50%;margin-left:-306px;top:2406px;width:612px;height:792px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_id_fe7a2b3e-cffc-11ea-8b25-0cc47a792c0a_files/background4.jpg"
                width=612 height=792></div>
        <div style="position:absolute;left:39.60px;top:51.60px" class="cls_010"><span class="cls_010">Invitation</span>
        </div>
        <div style="position:absolute;left:39.60px;top:67.86px" class="cls_003"><span class="cls_003">We invite IBM to
                help lead in the development and roll-out of a worldwide Dual Currency economic</span></div>
        <div style="position:absolute;left:39.60px;top:80.52px" class="cls_003"><span class="cls_003">development
                platform. Please go to</span></div>
        <div style="position:absolute;left:39.60px;top:93.12px" class="cls_017"><span class="cls_017"> </span><A
                HREF="http://www.theclarityquotient.com/dcs_smarter_rewards_nonproprietary.htm">http://www.theclarityquotient.com/DCS_Smarter_Rewards_nonproprietary.htm</A>
            <span class="cls_003"> to view our 23-minute</span></div>
        <div style="position:absolute;left:39.60px;top:102.78px" class="cls_003"><span class="cls_003">Smarter Rewards
                proposal.</span></div>
        <div style="position:absolute;left:39.60px;top:134.34px" class="cls_010"><span class="cls_010">About
                DualCurrency Systems</span></div>
        <div style="position:absolute;left:39.60px;top:150.54px" class="cls_003"><span class="cls_003">We are a social
                enterprise consultancy founded in 1993 to promote Money Innovation. Our focus has been</span></div>
        <div style="position:absolute;left:39.60px;top:163.20px" class="cls_003"><span class="cls_003">the evaluation,
                design and application of new financial instruments. We have grappled with the strengths and</span>
        </div>
        <div style="position:absolute;left:39.60px;top:175.86px" class="cls_003"><span class="cls_003">weaknesses of
                loyalty rewards, barter dollars, community currencies, mutual credit and various other</span></div>
        <div style="position:absolute;left:39.60px;top:188.52px" class="cls_003"><span class="cls_003">noncash forms of
                money. Out of this work emerged Dual Currency Commerce, a business model for</span></div>
        <div style="position:absolute;left:39.60px;top:201.18px" class="cls_003"><span class="cls_003">sustainable
                commerce that is practical, scalable and self-funding. Our expertise lies in the emerging fields
                of</span></div>
        <div style="position:absolute;left:39.60px;top:213.84px" class="cls_003"><span class="cls_003">money innovation
                and universal rewards. Our contributions include next generation rewards and incentives,</span></div>
        <div style="position:absolute;left:39.60px;top:226.44px" class="cls_003"><span class="cls_003">monetizing excess
                business capacity and Dual Currency program designs for industries and communities.</span></div>
        <div style="position:absolute;left:39.60px;top:251.76px" class="cls_003"><span class="cls_003">DCS has designed
                a dozen products reflecting both commercial and social applications of our</span></div>
        <div style="position:absolute;left:39.60px;top:264.42px" class="cls_003"><span class="cls_003">patent. Our
                strategy is to catalyze strategic alliances within diverse industries and economic sectors to
                bring</span></div>
        <div style="position:absolute;left:39.60px;top:277.08px" class="cls_003"><span class="cls_003">a variety of Dual
                Currency applications to market. Examples include financial services and payment systems;</span></div>
        <div style="position:absolute;left:39.60px;top:289.68px" class="cls_003"><span class="cls_003">employee
                benefits, health care and government services; alternative energy and community economic</span></div>
        <div style="position:absolute;left:39.60px;top:302.34px" class="cls_003"><span class="cls_003">development. To
                see additional projects, white papers and videos on our work, please visit</span></div>
        <div style="position:absolute;left:39.60px;top:315.00px" class="cls_017"><span class="cls_017"> </span><A
                HREF="http://www.dualcurrency.com/">www.DualCurrency.com</A> </div>
        <div style="position:absolute;left:42.66px;top:340.32px" class="cls_003"><span class="cls_003">For additional
                information and a demonstration, contact:</span></div>
        <div style="position:absolute;left:75.60px;top:352.98px" class="cls_003"><span class="cls_003">Joel Hodroff,
                Founder and President</span></div>
        <div style="position:absolute;left:75.60px;top:365.58px" class="cls_003"><span class="cls_003">DualCurrency
                Systems</span></div>
        <div style="position:absolute;left:75.60px;top:378.24px" class="cls_003"><span class="cls_003">PO Box
                3749</span></div>
        <div style="position:absolute;left:75.60px;top:390.90px" class="cls_003"><span class="cls_003">Minneapolis, MN
                55403</span></div>
        <div style="position:absolute;left:75.60px;top:403.56px" class="cls_003"><span
                class="cls_003">Joel@DualCurrency.com</span></div>
        <div style="position:absolute;left:75.60px;top:416.22px" class="cls_003"><span
                class="cls_003">612-408-8898</span></div>
        <div style="position:absolute;left:38.88px;top:756.60px" class="cls_011"><span
                class="cls_011">Confidential</span></div>
        <div style="position:absolute;left:79.00px;top:756.60px" class="cls_011"><span class="cls_011">©2010
                DualCurrency Systems, Minneapolis, MN</span></div>
    </div>

</body>

</html>