<h1>howdy partner</h1>
{{!--need to convert content from pdf to plain text then simple html--}}

<p>THE CHAORDIC ORGANIZATION: OUT OF CONTROL AND INTO ORDER</p>

<p>World Business Academy Perspectives - Vol. 9, No. 1 1995 Reprinted with permission. All rights reserved</p>

<p>by Dee W. Hock</p>

<p>Dee Hock is founder and CEO Emeritus of VISA USA and VISA International. He has lectured throughout the world on
        innovation, quality, and the changing nature of commercial, social, and political organizations. He is one of
        thirty living Laureates of the Business Hall of Fame.</p>

<p>It is almost impossible these days to read a business article or participate in a seminar without stumbling over such
        popularities as &quot;learning organizations,&quot; &quot;empowerment,&quot; or &quot;reengineering.&quot; It is
        equally common to encounter in the scientific community the study of complex adaptive systems, commonly referred
        to as &quot;complexity.&quot; I find it cumbersome to either think or write about fundamental principles
        underlying both physical systems and human institutions in the terms unique to either business or science. So
        after grubbing in various lexicons for a suitable word to describe the kind of organization discussed here, it
        seemed simpler to construct one. Since the knowledge pursued is believed by scientists to lie on the knife's
        edge between chaos and order, the first syllable of each was borrowed and Cha&ndash;ord (kay&ndash;ord) emerged.
</p>

<p>By Chaord, I mean any self&ndash;organizing, adaptive, nonlinear, complex system, whether physical, biological, or
        social, the behavior of which exhibits characteristics of both order and chaos or, loosely translated to
        business terminology, cooperation and competition.</p>

<p>But first, let me introduce a particularly rich, robust chaord and then relate it to the principles presented here.
</p>

<p>The VISA card had its genesis four decades ago as a California service of the Bank of America called BankAmericard.
        In response, five California banks jointly launched MasterCharge in 1966. In turn, Bank of America franchised
        its service. Other large banks quickly launched proprietary cards and offered franchises. Action and reaction
        were soon rampant. Bank after bank issued cards with little regard for customer qualifications, while television
        screamed such blather as, &quot;The card you won't go berserk with,&quot; a challenge the public accepted with
        enthusiasm.</p>

<p>By 1968, the infant industry was out of control. Operating, credit, and fraud losses were believed to be in the tens
        of millions of dollars. Life magazine ran a cover story depicting banks as Icarus flying to the sun on wings of
        plastic above a red sea labeled losses, into which banks were soon to plunge, wings melted, and drown. In the
        midst of the mess, Bank of America called a meeting of its licensees to discuss operating problems. The meeting
        quickly disintegrated into acrimonious argument. In desperation, the bank proposed forming a committee of seven,
        of which I was one, to propose solutions to the more critical problems, which the bank would then attempt to
        implement. How I came to be there has relevance, so a bit of biography. (To see the whole article, click here.)
</p>