<div class="m-4">

        <h1><b>Executive Summary </b></h1>
        <br>
        <p>Introducing IBM Smarter RewardsTM We know that a lot of money has evaporated in the current
                financial crisis &mdash; but what exactly is it that has been lost? &#8230; Money has been reduced to
                zeros and ones. It&rsquo;s intangible, invisible. It&rsquo;s information. Which is central both to the
                problem we face and to its solution. IBM's Smarter Money for a Smarter Planet DualCurrency Systems (DCS)
                proposes Smarter Rewards&trade; to IBM as a source of new financial resources for the Smarter Planet
                initiative and to accelerate sustainable global economic development. DCS brings: &#402; a patented
                payments platform that enables transaction settlement in a combination of cash and Smarter Rewards, and
                &#402; a method for backing Smarter Rewards with currently underutilized business capacity found in
                almost every enterprise. This business model, which we call Dual Currency Commerce, creates new wealth
                without resorting to either debt or taxes. Smarter Rewards Smarter Rewards creates new wealth through:
                &#402; a suite of non-cash incentives ranging from merchant loyalty rewards to employee benefits to
                rewards for volunteer service, academic achievement, wellness milestones and green goals. &#402; rewards
                backed by the excess productive capacity of businesses and organizations (empty restaurant tables and
                empty college desks; off-hours at oil change shops and fitness clubs; unsold retail inventory, idle
                factory shifts and more). &#402; new purchasing power as consumers spend Smarter Rewards in combination
                with cash. For example, a $20 restaurant meal might cost $12 in cash and $8 in Smarter Rewards, while a
                $20 weekend pass to a health club might cost only $4 in cash and $16 in Smarter Rewards (based upon
                their different marginal costs of production). With modest enhancements to existing credit card and
                ecommerce platforms, Dual Currency Commerce can improve efficiencies in any industry, in any community,
                for any culture and at any scale. The system is volun- tary, business-led, market-based and
                profit-driven. It is self-funding from transaction fees and requires no government subsidies. The
                technical infrastructure is at hand&#8230; which brings us to this discussion with IBM. Confidential
                &copy;2010 DualCurrency Systems, Minneapolis, MN</p>
        <br>

        <p>The Opportunity Electronic money accounts for 95% of all commerce, according to the Federal Reserve Bank. It
                continues to evolve to include mobile payment platforms, online banking and other innovations. Each
                innovation creates opportunities for technology companies that build and manage the new infrastructure.
                Dual Currency Commerce is just such an opportunity. IBM can leverage its expertise and leadership to
                develop and manage a global Dual Currency infrastructure as the economic engine for a Smarter Planet.
                Revenue opportunities include: &#402; design and management of the Dual Currency ecosystem &#402;
                transaction fees &#402; customer service, consulting and training &#402; new intellectual property
                Product Overview The patented Dual Currency Pricing, Accounting and Transaction Settlement System
                manages the issuance and redemption of noncash rewards that spend like cash. As designed for IBM, the
                system has three core components: &#402; a new financial instrument &#650; Smarter Rewards&trade; &#650;
                which supplements traditional cash purchasing power; &#402; the Dual Currency Payments Platform that
                seamlessly integrates cash and Smarter Rewards within existing retail, banking, employer, credit card
                and ecommerce accounting and transaction settlement systems; and &#402; the IBM Virtual Community
                Warehouse that captures and monetizes excess business capacity as a source of new business and community
                wealth A Sample Smarter Rewards Transaction Earn: Linda volunteers for Habitat for Humanity and earns 15
                Community Service Dollars for each hour that she volunteers. She also donates blood to the Red Cross,
                earning 50 HealthBucks. As well, Linda has accumulated a variety of frequent flyer miles and other
                loyalty rewards that she has had difficulty redeeming. Convert: Any type of reward can be converted to
                IBM Smarter Rewards (SR$). SR$ 1.00 equals $1.00 in cash purchasing power in a Dual Currency transaction
                through the IBM Virtual Community Warehouse&trade;. Spend: Linda makes purchases using Smarter Rewards
                either online or at brick-and- mortar establishments. She goes to Best Buy where a $2,000 appliance
                suite is available for $1,700 in cash and $300 in Smarter Rewards. She goes online to SmarterRewards.com
                to find other participating merchants and to check her account earning, spending and balance.
                Confidential &copy;2010 DualCurrency Systems, Minneapolis, MN</p>
        <br>

        <p>Everyone wins with Smarter Rewards Merchants gain incremental sales and profits. Customers increase their
                purchasing power by spending Smarter Rewards like cash. Loyalty Program Operators restore customer
                loyalty and remove reward liabilities from their books. Community Organizations improve volunteer
                recruitment and retention. IBM and payment systems partners increase revenues, improve CRM data
                collection and provide merchants and consumers with new reward programs. Confidential &copy;2010
                DualCurrency Systems, Minneapolis, MN</p>
        <br>

        <p>Invitation We invite IBM to help lead in the development and roll-out of a worldwide Dual Currency economic
                development platform. Please go to
                http://www.theclarityquotient.com/DCS_Smarter_Rewards_nonproprietary.htm to view our 23-minute Smarter
                Rewards proposal. About DualCurrency Systems We are a social enterprise consultancy founded in 1993 to
                promote Money Innovation. Our focus has been the evaluation, design and application of new financial
                instruments. We have grappled with the strengths and weaknesses of loyalty rewards, barter dollars,
                community currencies, mutual credit and various other noncash forms of money. Out of this work emerged
                Dual Currency Commerce, a business model for sustainable commerce that is practical, scalable and
                self-funding. Our expertise lies in the emerging fields of money innovation and universal rewards. Our
                contributions include next generation rewards and incentives, monetizing excess business capacity and
                Dual Currency program designs for industries and communities. DCS has designed a dozen products
                reflecting both commercial and social applications of our patent. Our strategy is to catalyze strategic
                alliances within diverse industries and economic sectors to bring a variety of Dual Currency
                applications to market. Examples include financial services and payment systems; employee benefits,
                health care and government services; alternative energy and community economic development. To see
                additional projects, white papers and videos on our work, please visit www.DualCurrency.com For
                additional information and a demonstration, contact: Joel Hodroff, Founder and President DualCurrency
                Systems PO Box 3749 Minneapolis, MN 55403 Joel@DualCurrency.com 612-408-8898 Confidential &copy;2010
                DualCurrency Systems, Minneapolis, MN</p>
</div>