<h1 class="font-bold text-black">Executive Summary</h1>
<div class="text-black text-left">
    <p>October 2010 DualCurrency Systems (DCS) offers a patented business method and technology to promote Universal
        Reward
        Solutions SM within the loyalty rewards industry. The DCS system enables consumers to spend a combination of
        dollars
        and rewards through their VISA, MasterCard, and American Express cards. This innovative marketing approach is
        based
        upon proprietary dual currency contracts with merchants who offer their otherwise unsold products and services.
    </p>

    <p>Participating merchants accept a portion of their retail prices in frequent flyer miles or other rewards points,
        such
        as American Express Membership Rewards. This provides them with incremental sales and profits through
        cost-effective
        cross-promotion with rewards program operators, banks and charge card strategic partners.</p>

    <p>Rewards programs enhanced by Universal Reward Solutions (URS) offer significant advantages:</p>

    <p> Consumers increase their purchasing power by spending rewards and saving cash. They enjoy more places to spend
        their
        rewards and don&rsquo;t have to save up large numbers of miles or points to redeem them. Reward program
        operators,
        such as the airlines and American Express, are able to provide the rewards at a low cost relative to the
        redemption
        value to the consumer. Operators also gain valuable information on their customers&rsquo; buying preferences.
        Merchants cover their marginal costs in cash &ndash; plus a cash profit &ndash; with customers delivered for
        free
        through the DCS network. Electronic card processing, at the point of sale, saves merchants&rsquo; time and money
        over cash, checks, coupons and punch cards. Card companies and banks offer exciting new card features, while
        benefiting from greater transaction volume. They also enjoy more satisfied cardholders and merchant clients.</p>

    <p>DCS earns a brokering fee on each DualCurrency transaction, as well as reward redemption fees from Program
        Operators.
        This combination suggests early profitability for the Company. DCS collects these fees only after rewards are
        redeemed, so program operators have no increased working capital needs from their participation in Universal
        Rewards
        Solutions.</p>

    <p>The Immediate Business Opportunity</p>

    <p>&quot;Loyalty&quot; programs are today becoming anything but loyalty builders. As an example, airline passengers
        in
        the U.S. alone are holding more than nine trillion frequent-flier miles, 50% more than just 5 years ago.
        Struggling
        for their own economic survival, airlines can not allocate additional seats to reduce the glut of unspent miles.
        Holders of credit and debit cards are also accumulating miles and reward points at a record pace. Meanwhile, the
        process for redeeming rewards can be cumbersome, with the redemption options often disappointing.</p>

</div>