<div class="text-gray-700 bg-center bg-gray-400 px-8 ">
  <img class="h-24 w-full" alt="New Money for Healthy Communities" src="/assets/image/NewMoney.jpg">

  <a href="https://ethicalmarkets.tv/video-show?v=1389" class="text-blue-800 underline" target="_blank"
    rel="noopener noreferrer">The Money Innovation Video</a>
  <br>
  <br>
  <a href="http://www.dualcurrency.com/NewMoneyVideo/index.html" class="text-blue-800 underline" target="_blank"
    rel="noopener noreferrer">New Money for Healthy Communities Video</a>
</div>