{{!--put content into components so code is easier to read--}}








<div class="flex md:flex-row-reverse flex-wrap">
  <div class="w-full md:w-3/4 bg-gray-500 p-4 text-center text-gray-200">
    <img class="h-64 w-auto" alt="Picture of Founder Josh Hodroff" src="/assets/image/JHodroff.jpg">
    <ExecutiveSum />
    <a href="http://www.dualcurrency.com/files/patent_5687323.pdf" class="text-blue-800 underline" target="_blank"
      rel="noopener noreferrer"> U.S. Patent #5,687,323</a>
  </div>
  <div class="w-full md:w-1/4 bg-gray-400 p-4 text-center text-gray-700">
    <AboutCont />
  </div>
</div>