

<h1 class="font-extrabold text-center"> Founder Joel Hodroff</h1>

<div class="text-black text-center m-6">

    <p class="text-left">Joel Hodroff is an international authority on the use of noncash financial 
      instruments for commercial and economic development applications.  In 2005, 
      he was selected an Innovator of the Year by Minnesota’s Finance and Commerce 
      newspaper.  Joel is also the Founder of Minnesota-based DualCurrency Systems 
      (DCS).
    </p>
    <br>
    <br>
  
    <p class="text-left">DCS designs programs and systems at the intersection of loyalty marketing, 
      credit card services and payment systems.  In 1997, the company was awarded 
      two U.S. Patents for its novel DualCurrency Pricing, Accounting and Transaction 
      Settlement system.  The system manages transactions in a combination of U.S. 
      dollars and noncash financial instruments, such as loyalty rewards, barter dollars
      or business scrip.  </p>
      <br>
      <br>

    <p class="text-left">DCS developed <b>Universal Reward Solutions</b>SM for the incentives industry to 
       optimize redemption while enhancing customer satisfaction and brand loyalty. The same 
       DualCurrency payment system and Virtual Community Warehouse also manages innovative incentive
       programs, including wellness incentives that lower employer and employee health care costs and 
       volunteer rewards that promote healthy communities.   </p>
       <br>
       <br>

    <p class="text-left">The genesis of DualCurrency Commerce occurred during Joel’s years as a commercial
        barter broker. There he began to design a method of blending B2B barter with C2C (individual to 
        individual) barter into a system of large-scale B2C barter. He eventually integrated corporate 
        scrip — frequent flyer miles, hotel scrip and other business currencies — into the DualCurrency 
        approach, creating a highly versatile new financial instrument and a next generation payments 
        platform.  </p>
        <br>
        <br>

    <p class="text-left">Joel gained his early entrepreneurial experience as the Founder and President of 
        Solar Consultants, Inc. in Albuquerque, NM.  An informative and entertaining speaker, his 
        groundbreaking work in DualCurrency Commerce is documented in The Future of Money by Bernard Lietaer, 
        The New Alchemists by David Boyle, and the Japanese Public Television Documentary Ende’s Warning to 
        the Future. </p>
        <br>
        <br>

    <p class="text-left">Joel has been invited to present DualCurrency solutions to executives at: VISA, US Bank, 
         Wells Fargo, MoneyGram, United Airlines, Chase Bank, Thrivent Financial, United Healthcare, Digital 
         River, and elsewhere.  </p>
        <br>
        <br>
   <div class= "text-green-600">
    <p class="text-left"> <em>Humans created money.
         Humans can alter anything they create.
         Change the nature of money, and you can 
         literally change the nature of economic 
         reality. Joel Hodroff, founder of Commonweal 
         and the inventor of the patented dual-currency 
         transaction system, understands that proposition. 
         He is a pioneer, trying to create a new kind of 
         money that bridges at market and community. ...
         We are still at the beginning of that journey, 
         but it is one that will surely redefine the limits 
         of the possible.</em></p>
         <br>
    <p class="text-left">- Edgar S. Cahn
                         Founder, Time Dollar Network
	                      </p>
   </div>

         





    

</div>