{{!-- <div class="bg-white min-h-screen border-4 border-black flex justify-center"> --}}

<div class="bg-green-300">

  <div class="flex flex-row bg-gray-200">
    <div class="text-gray-700  bg-gray-400"> <img class="h-24 w-auto" alt="Dual Currency Systems"
        src="/assets/image/logotrim.gif"></div>
  </div>

  <NavBar />
  {{outlet}}

  {{!-- use col flex to align --}}

</div>
{{!</div>}}

{{!--let's use dual greay background color tone theme--}}