<div class="bg-white min-h-screen border-4 border-black flex justify-center">
  <div class="container bg-blue-100">
    <div class="text-teal-800 text-center">
      <h1 class="text-2xl">DualCurrency Systems</h1>
      <h2>Making the economy everybody's business</h2>
    </div>
    {{outlet}}
  </div>
</div>