<div class="h-screen w-auto bg-black text-yellow-200 text-opacity-75 font-extrabold">
    <h1 class="">Color test</h1>
    <p class="">The point is to try and match similar styling of the dolar bill like FEDERAL RESERVE</p>
</div>