{{!--what a buttfuck of shit to sort through--}}

<!--
    add in page links from Faq, to and Back-->
<!--pictures???what pictures-->
<!-- add id# to anchor in page links-->
<a href="" class="text-blue-800 underline" target="_blank" rel="noopener noreferrer"> </a>

<div class="text-yellow 200">
    <div cla stuffss="content-center m-8">
        <h1 class="font-extrabold">Frequently Asked Questions Overview</h1>
        <br>
        <h1 class="font-bold border-black border-2 bg-blue-400 text-center " id="return">Overview</h1>
    </div>

    <div class="text-center grid grid-cols-3 gap-4 m-8 bg-blue-300">
        <div class="bg-gray-400 border-black border-2"> <a href="#Glossary of Terms" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">Glossary of Terms</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#DC explanation commerce"
                class="text-blue-800 underline" target="_blank" rel="noopener noreferrer">Where can I find an
                explanation of DualCurrency Commerce?</a></div>
        <div class="bg-gray-400 border-black border-2"> <a href="#DCExample" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">
                What are examples of DualCurrency programs?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#Detailswoekedout" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">
                Are all the details of DualCurrency Commerce worked out already?</a>
        </div>
        <div class="bg-gray-400 border-black border-2"><a href="#IrsSay" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">
                What might the IRS say?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#easier" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">Does the envisioned technology make it easy to process
                transactions that
                combine dollars and rewards?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#formsofmoney" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">Why are there many different forms of new money in this
                system?</a>
        </div>
        <div class="bg-gray-400 border-black border-2"><a href="#betatest" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">What were the results of your beta test?</a></div>
    </div>
    <br>
    <br>
    <h1 class="font-bold border-black border-2 bg-blue-400 text-center">Consumer/Community Perspective</h1>

    <div class="text-center grid grid-cols-3 gap-4 m-8 bg-blue-300">
        <div class="bg-gray-400 border-black border-2"><a href="#EarnDC" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">How might I earn DualCurrency Dollars?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#spend" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">How might I spend DualCurrency Commerce
                rewards
                program that my credit card offers?</a></div>

        <div class="bg-gray-400 border-black border-2"><a href="#track" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">How would I track DCS Dollars</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#accept" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">Why would a Merchant accept DualCurrency Dollars?</a></div>
        <div class="bg-gray-400 border-black border-2"> <a href="#benefits" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">What are the benefits to Nonprofit and Community
                Organizations?</a>
        </div>
        <div class="bg-gray-400 border-black border-2"><a href="#tithing" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer"> What is meant by DualCurrency Tithing?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#liberal" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">Is this program targeted more at Liberals or
                Conservatives?</a>
        </div>
    </div>
    <br>
    <br>

    <h1 class="font-bold border-black border-2 bg-blue-400 text-center">Business Perspective</h1>

    <div class="text-center grid grid-cols-3 gap-4 m-8 bg-blue-300">
        <div class="bg-gray-400 border-black border-2"><a href="#benefits2" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">What would be the business benefits of DualCurrency
                Commerce?</a>
        </div>
        <div class="bg-gray-400 border-black border-2"><a href="#transaction" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">How does the transaction settlement system work?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#financial" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">How are DualCurrency Dollars a new financial instrument and
                not
                merely an electronic discount? </a></div>
        <div class="bg-gray-400 border-black border-2"> <a href="#merchants" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">Do merchants risk turning full-cash customers into
                partialcash,
                DualCurrency customers?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#circulate" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">Why don&rsquo;t DualCurrency Dollars circulate like U.S.
                dollars,
                barter dollars and local currencies?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#decisions" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">How are decisions made in a DualCurrency Network?</a></div>

    </div>
    <br>
    <br>
    <h1 class="font-bold border-black border-2 bg-blue-400 text-center">Current Events</h1>

    <div class="text-center grid grid-cols-3 gap-4 m-8 bg-blue-300">
        <div class="bg-gray-400 border-black border-2"><a href="#economic" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">You assert that the current economic breakdowns can not be
                repaired through a bailout or with better
                monetary policies, but, instead, require a paradigm shift in economics and the creation of a new
                financial
                instrument. Please explain.</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#government" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">What should be the role of government in DualCurrency
                Commerce?</a>
        </div>
        <div class="bg-gray-400 border-black border-2"><a href="#quick" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">How quickly could this system be developed and implemented?</a>
        </div>
        <div class="bg-gray-400 border-black border-2"> <a href="#consumption" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">Is this just another model of excessive consumption?</a></div>
        <div class="bg-gray-400 border-black border-2"><a href="#no" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer"> Does DualCurrency Commerce have anything to do with
                Socialism or
                Communism?</a></div>

    </div>
    <br>
    <br>





    <div class="m-4 bg-green-200 text-center">

        <h1 class="text-2xl font-bold" id="Glossary of Terms"> Glossary of Terms</h1>
        <div class="text-left m-2">
            <p><b>Money innovation </b>is the process of inventing new forms of money. Historic
                examples include: the evolution
                from
                barter to gold coins; from gold coins to paper currency; and from paper currency and checks to
                computer
                banking
                with electronic debits and credits. </p>
            <br>
            <p><b>Monetary policy</b> is the set of policies used by national and
                international
                governments to attempt to solve economic problems by manipulating the supply, availability and costs
                of
                national
                currencies. [Read Wikipedia&rsquo;s definition of monetary policy.
                <a href="http://en.wikipedia.org/wiki/Monetary_policy]" class="text-blue-800 underline" target="_blank"
                    rel="noopener noreferrer"> http://en.wikipedia.org/wiki/Monetary_policy]</a></p>
            <br>
            <p><b>DualCurrency Commerce </b>is an innovative, technology-supported approach to solving economic
                problems
                through
                money
                innovation and new levels of business-employeeconsumer-community cooperation. DualCurrency Commerce
                improves
                economic efficiencies by expanding employee/consumer purchasing power to match ever-improving
                business
                technologies and productivity. One example is a new type of employee benefits that do not increase
                cash
                labor
                costs for employers or tax burdens on businesses and individuals.</p>
            <br>
            <p><b> DualCurrency Systems (DCS)</b> is a
                closely-held,
                Minnesota C-Corporation founded by Joel Hodroff with a small group of socially responsible, angel
                investors
                and
                sweat equity volunteers. The company&rsquo;s mission is to utilize noncash rewards and incentives to
                profitably
                facilitate Business to Consumer (B2C) Commerce for the benefit of individuals, businesses and
                communities
                alike.
                The company&rsquo;s two issued US Patents <a href="#" class="text-blue-800 underline" target="_blank"
                    rel="noopener noreferrer"><a href="" class="text-blue-800 underline" target="_blank"
                        rel="noopener noreferrer">[http://www.dualcurrency.com/files/patent_5687323.pdf]</a>
                    will be
                    auctioned in Chicago on October 30, 2008.

                    <a href="" class="text-blue-800 underline" target="_blank"
                        rel="noopener noreferrer">[http://www.oceantomoauctions.com/OTA_Catalogue_Lot.asp?eventid=102008&amp;Lot=39]</a>
            </p>
            <br>
            <p><b>Sustainable
                    prosperity</b> is
                a
                stage of economic development where individuals, families and communities enjoy a high standard of
                living
                and a
                high quality of life, while respecting and preserving the natural environment. DualCurrency Commerce
                is
                designed
                to create sustainable prosperity in the next economy. [Read more about the DCS approach to
                sustainable
                prosperity in this white paper. <a href="# " class="text-blue-800 underline" target="_blank"
                    rel="noopener noreferrer">Awakening.pdf</a>
                will be</p>
            <br>
            <p><b>Barter</b> is the trading or
                exchanging
                of goods and services without the use of dollars. Such exchanges are sometimes facilitated with
                barter
                dollars
                or trade credits. Barter trades can be bilateral or multilateral and exist parallel to monetary
                systems
                in
                both
                developed and developing countries. DualCurrency Systems has improved upon traditional barter
                methods,
                which
                are
                normally either Business to Business (B2B) exchanges or Individual to Individual (C2C) exchanges.
                DualCurrency
                Commerce makes possible widespread B2C commerce whenever traditional financial resources are
                unavailable
                or
                insufficient. [Read Wikipedia&rsquo;s definition of barter. <a href="# " class="text-blue-800 underline"
                    target="_blank" rel="noopener noreferrer">http://en.wikipedia.org/wiki/Barter]</a>
            </p>
            <br>

            <p><b>Scrip</b>
                is a
                type
                of currency which is not legal tender and is often a form of credit. Scrip was originally created as
                company
                payment to employees and as a means of payment in times when regular money is unavailable, such as
                remote
                coal
                towns or occupied



                countries in war time. Today, consumer loyalty rewards, such as frequent flyer miles or Starbucks
                Points,
                are
                examples of product-backed, business-issued scrip currencies. <a href="#"
                    class="text-blue-800 underline" target="_blank" rel="noopener noreferrer">[Read Wikipedia&rsquo;s
                    definition of
                    scrip.http://en.wikipedia.org/wiki/Scrip]</a> </p>
            <br>
            <p><b>DualCurrency Dollars (DC$) </b>are a new financial instrument that
                is
                earned and redeemed inside of a DualCurrency Network. Unlike the U.S. dollar, which is backed only
                by
                government
                promises to provide more dollars in the event of economic problems (such as today&rsquo;s financial
                industry
                bailout), DualCurrency Dollars are backed by contracts with businesses to accept them in a specified
                ratio
                with
                dollars. For example, a $20 restaurant meal might cost $12.00 and DC$8.00, based upon the economics
                of
                &ldquo;2
                for 1&rdquo; dining specials, while a $20.00 pass to a health club might cost $4.00 and DC$16.00
                based
                upon
                the
                low incremental cash cost of off-hours at a club. DualCurrency Dollars is a generic term for a
                variety
                of
                new
                kinds of purchasing power and rewards. See Also: Why are there so many different forms of money in
                this
                system?
            </p>
            <br>
            <p><b>DualCurrency Network</b> is a collaborative network of individuals, businesses and organizations
                that
                engage
                together
                in DualCurrency Commerce. A DualCurrency Network includes ways to earn DC$ and places to spend DC$,
                as
                well
                as
                transaction vendors to manage the accounting and transaction processing as described in the DCS
                Patents.
                <a href="http://www.dualcurrency.com/files/patent_5687323.pdf" class="text-blue-800 underline"
                    target="_blank" rel="noopener noreferrer">http://www.dualcurrency.com/files/patent_5687323.pdf</a>
                Individuals have DC$ accounts. Businesses set
                DualCurrency prices as well as any restrictions on when and for what DC$ can be redeemed. Virtual
                Community
                Warehouse is the comprehensive accounting of real community wealth that backs DualCurrency Dollars.
                The
            </p>
            <br>
            <p><b>Virtual Community Warehouse</b> is literally the Fort Knox of DualCurrency Commerce. Instead of
                being
                filled
                with only a limited supply of rare metal, which does not feed or house or educate or heal people,
                the
                warehouse
                contains
                the
                nearly limitless wealth of human ingenuity and business productive capacity. [Read about the U.S.
                Department
                of
                Treasury Bullion Depository, commonly called Fort Knox.
                http://en.wikipedia.org/wiki/United_States_Bullion_Depository]</p>
            <br>
            <p><b>DualCurrency Tithing</b> is a feature of the
                DCS
                patents which supports some participants in a DualCurrency Network to voluntarily making purchases
                with
                a
                greater percentage of US dollars so that other participants are able to make purchases with a
                greater
                percentage
                of DualCurrency Dollars. Such Tithing promotes a more level economic playing field without
                government
                regulation
                or redistribution of wealth. [Read more about DualCurrency Tithing in our white paper.
                <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" target="_blank"
                    rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf </a></p>
            <br>
            <p><b>Proliferation of Competitive Duplication (PoCD)</b> is the
                free-enterprise trend towards market saturation, resulting in downward pressure on market share,
                prices,
                profits
                and wages. PoCD results in excess or Underutilized Business Capacity, which is captured and applied
                to
                economic
                development in the US and around the world. One of the great flaws in today&rsquo;s economic model
                is
                that
                we
                fail to market excess business capacity for lack of paying customers, and then we downsize this real
                wealth
                while there is still great unmet need for those very products and services in the US and worldwide.
                [Read
                more
                about PoCD in our white paper.<a href="http://www.dualcurrency.com/Awakening.pdf"
                    class="text-blue-800 underline" target="_blank"
                    rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf </a> Excess or Underutilized
                Business
                Capacity is a form of wasted wealth. For example, empty airline seats, college desks, and restaurant
                tables;
                off-hours at movie theatres, oil change shops, health clubs, and salons; excess retail inventory of
                every
                description. DualCurrency pricing of currently Underutilized Business Capacity is based upon
                marginal
                cost
                of
                production calculations. Participating businesses cover their marginal cash costs and earn
                incremental
                profits in US$, while the balance of the price is covered in DC$. For
                example
                in
                a DualCurrency Network, a $20 meal might cost $12.00 cash and DC$8.00 based on the marginal cost of
                underutilized restaurant capacity. On the other hand, a $20.00 fitness club pass might cost $4.00
                cash
                and
                DC$16.00, based upon the much lower marginal cost of off-hours at a fitness club. This
                fully-automated,
                sliding-
                scale DualCurrency pricing is part and parcel of the DCS patents and creates a new industry standard
                in
                financial services that promotes much needed economic cooperation. [Read more about underutilized
                capacity
                in
                our white paper. <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline"
                    target="_blank" rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf </a> Read
                Investopedia&rsquo;s definition of
                excess
                capacity. <a href="http://www.investopedia.com/terms/e/excesscapacity.asp"
                    class="text-blue-800 underline" target="_blank"
                    rel="noopener noreferrer">http://www.investopedia.com/terms/e/excesscapacity.asp</a></p>
            <br>

            <p><b>Marginal cost of production</b> is a
                calculation
                used to determine optimum production level and economies of scale. In DualCurrency Commerce the
                production
                and
                distribution of Underutilized Business Capacity is supported by marginal cost of production
                calculations.
                [Read
                Investopedia&rsquo;s definition of marginal cost of production.
                <a href="http://www.investopedia.com/terms/e/excesscapacity.asp" class="text-blue-800 underline"
                    target="_blank" rel="noopener noreferrer">http://www.investopedia.com/terms/e/excesscapacity.asp</a>
            </p>
            <br>
            <br>

        </div>
        <div class="text-left m-2">

            <p><b class="text-xl" id="DC explanation commerce">Where can I find an explanation of DualCurrency
                    Commerce?</b></p>
            <br>
            <p>10 minute introductory video presentation:</p>
            <a href="http://www.investopedia.com/terms/e/excesscapacity.asp" class="text-blue-800 underline"
                target="_blank" rel="noopener noreferrer">http://www.investopedia.com/terms/e/excesscapacity.asp</a
                <p><a href="#" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">http://www.solutionstwincities.org/videos/dual_currency.htm#anchor</a> White
            Paper, 34 pages.
            <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" target="_blank"
                rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf</a> Return to top of document</p>
        </div>
        <br>
        <br>
        <div class="text-left m-2">
            <p><b class="text-xl text-center" id="DCExample">What are examples of DualCurrency programs?</b></p>
            <br>

            <p><b>HealthBucks wellness incentives program</b> for the healthcare industry offers to improve public
                health while
                lowering costs for employers, employees and taxpayers alike:
                <a href="http://www.dualcurrency.com/files/HealthBucks.pdf" class="text-blue-800 underline"
                    targer="_blank" rel="noopener noreferrer">Health Bucks</a>
            </p>
            <br>
            <p><b>Universal Reward Solutions</b> for the loyalty rewards industry:
                <a href="http://www.dualcurrency.com/files/UniversalRewardSolns.pdf" class="text-blue-800 underline"
                    targer="_blank"
                    rel="noopener noreferrer">http://www.dualcurrency.com/files/UniversalRewardSolns.pdf</a> Return to
                top of document</p>
        </div>
        <br>re
        <p>The DualCurrency concept is in its infancy. While a great deal of conceptual design work has been
            accomplished,
            the details will be worked out as various DualCurrency programs are developed and rolled-out (just
            like
            with
            the
            introduction of credit cards and ecommerce).</p>
        <br>
        <p> Get involved in sorting it out! This is an opportunity to
            be on the cutting edge and establish your place in the foundational infrastructure, just as some
            companies did with
            VISA or the Internet. Learn more about the DCS Patent Sale:</p>
        <b>On October 30, two US patents issued to DualCurrency Systems (DCS) in 1997 will go on the auction
            block
            in Chicago.</b>



        <p>Learn more about the online Ocean Tomo Auction and how to register. Our patents are in Lot # 39:
            <a href="http://www.oceantomoauctions.com/OTA_Catalogue_Lot.asp?eventid=102008&amp;Lot=39"
                class="text-blue-800 underline" targer="_blank" rel="noopener noreferrer">ocean tomo</a></p>



        <p>Auction Registration information:</p>


        <p>See a video of last year's Ocean Tomo patent auction:</p>

        <p><a href="https://www.oceantomo.com/auction_registration.asp" class="text-blue-800 underline" targer="_blank"
                rel="noopener noreferrer">ocean tomo registration</a> <a href="#" class="text-blue-800 underline"
                targer="_blank" rel="noopener noreferrer">http://www.news.com/1606-2_3-50000312.html</a></p>



        <p>Link to DualCurrency Systems U.S. Patent # 5,687,323
            <a href="http://www.dualcurrency.com/files/patent_5687323.pdf" class="text-blue-800 underline"
                targer="_blank" rel="noopener noreferrer">Patent</a>
            Return
            to top of document</p>
    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p><b class="text-xl text-center" id="IrsSay">What might the IRS say?*</b> </p>
        <p>* These answers are speculative and should not be relied upon as a legal opinion or tax advice. </p>
        <br>
        <p>We can only hypothesize how DualCurrency Dollars (DC$) will be treated from a taxation standpoint,
            and
            how various IRS rulings might help or hinder the development and growth of DualCurrency Commerce.
            There
            are
            tax regulations for some types of non-cash transactions, as well as for different types of employee
            benefits.
            None of these apply directly to DualCurrency Commerce and DC$, which are a blend of features and
            practices
            from many different financial instruments, economic development strategies and marketing programs.
            As
            examples:</p>
        <br>
        <ul>
            <li>Barter dollars and local currencies are considered commercial in nature and taxable, with taxes
                due
                in U.S.
                dollars.
                DC$ are not barter dollars or local currencies.</li>
            <br>
            <li>Employee benefits such as free food for restaurant
                employees
                or free memberships for health club employees are not taxed as income. The DualCurrency Virtual
                Community
                Warehouse provides similar employee and community benefits in a DualCurrency Network </li>
            <br>
            <li> Various discounts
                for
                senior citizens and others are not taxed as income. In some ways, DualCurrency rewards can be
                perceived
                as
                discounts for DualCurrency Network Members.</li>
            <br>

        </ul>
        <br>
        <p> In the long term, DualCurrency Commerce can provide new
            economic
            resources for needed social services without raising tax burdens on businesses and individuals.
            Perhaps
            the
            most
            advantageous approach for local, state and federal governments to take would be to support the
            development
            of
            DualCurrency Commerce without adding the burden for early adopters of paying taxes on DualCurrency
            earning
            and
            spending.</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">

        <p><b class="text-xl text-center" id="easier">Does the envisioned technology make it easy to process
                transactions that
                combine dollars and rewards?
            </b>
        </p>
        <br>

        <p>The DCS patents <a href="http://www.dualcurrency.com/files/patent_5687323.pdf"
                class="text-blue-800 underline" targer="_blank" rel="noopener noreferrer">Patent</a> apply to a process
            termed
            DualCurrency
            pricing, accounting and transaction settlement, which expands economic resources for businesses,
            employees,
            customers and communities. Traditional consumer purchasing power in US dollars is supplemented or
            stretched
            with
            DualCurrency Dollars. The transaction platform described in the DCS patents is a p. 5</p>

        <p> straightforward enhancement to bank accounts, credit card processing and e-commerce. Therefore, the
            merchant
            and
            consumer roles and experiences match what they are today. Utilizing an additional account holding
            DualCurrency
            Dollars, the process is similar to making a purchase partly in cash and partly by check; or partly
            by
            check
            and
            partly with a credit card; in other words drawing on funds from two sources instead of just one. The
            difference
            is that the DualCurrency system is designed to handle the entire process with the single swipe of a
            single
            card
            or with a traditional e-commerce point and click payment. Other than debiting two accounts, one in
            US
            Dollars
            and one in DualCurrency Dollars, the transaction settlement and tracking looks like it does today.
            Return to
            top
            of document</p>
    </div>

    <div class="text-left m-2">
        <p><b class="text-xl text-center" id="formsofmoney">Why are there many different forms of new money in this
                system? </b>
        </p>
        <br>



        <p>There is only one new financial instrument termed the DualCurrency Dollar. It is packaged in
            different
            ways
            to
            explain and market a variety of commercial and economic development programs of DualCurrency
            Commerce.
            DualCurrency Dollars are a universal business-community scrip backed by real goods and services
            accounted
            for in
            a Virtual Community Warehouse. [Read more about universal business-community scrip in our white
            paper.
            <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" targer="_blank"
                rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf</a> This is an advance over backing
            currency with gold or
            with
            government
            promises to issue more currency in the event of a money crisis.
        </p>
        <p> To keep things simple, one DualCurrency
            Dollar
            equals one U.S. Dollar in purchasing power. DualCurrency Dollars could be earned in a variety of
            ways:
        </p>
        <br>

        <p><b>HealthBucks</b> could be earned as wellness incentives for activities, such as quitting smoking,
            losing
            weight,
            giving blood or learning meditation or yoga to reduce stress;</p>
        <br>
        <p><b>Community Service Dollars </b>could be
            earned
            for
            volunteering in such activities as mentoring youth, building and repairing housing or driving senior
            citizens to
            their appointments;</p>
        <br>
        <p><b>EcoBucks</b> could be earned for protecting the environment through recycling,
            carpooling
            or
            adding a solar heating system to one&rsquo;s home;</p>
        <br>
        <p><b>Traditional loyalty rewards</b>, such as Northwest
            Airlines
            World Perks, American Express Membership Rewards or Starbucks Points could be converted to
            DualCurrency
            Dollars
            through a currency exchange process within the system and then redeemed along with cash at
            participating
            merchants.*</p>
        <br>

        <p>*Businesses loyalty rewards are examples only; no contracts or endorsements are implied. Return to
            top of
            document</p>
        <br>
        <br>
    </div>
    <div class="text-left m-2">
        <p><b class="text-xl text-center" id="betatest">What were the results of your beta test?</b></p>
        <br>

        <p>DualCurrency Systems developed a small demonstration of DualCurrency Commerce with a beta technology,
            a
            dozen
            merchants and a few dozen volunteers. It was an effort to attract attention and resources in order
            to
            scale
            the
            system for commercial introduction to the market. The DCS accounting and transaction processing
            system
            worked
            well. It utilized a PayPal back-end to process the cash portion of the transaction using a
            volunteer&rsquo;s
            credit card or checking account as the cash source. The beta test never p. 6</p>

        <p> reached a critical mass of transactions, nor did it attract needed funding. It was eventually
            discontinued.
            DCS
            believes that needed technologies, merchant and customer networks and financial resources are all at
            hand
            for
            the rapid development of DualCurrency Commerce.</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">
        <p><b class="text-2xl">Consumer / Community Perspective</b></p>
        <br>
        <h1><b class="text-xl" id="EarnDC"> How might I earn DualCurrency Dollars?</b></h1>

        <p>That depends on what programs are set up in your community or online. You might earn DualCurrency
            wellness
            incentives and other employee benefits where you work or volunteer rewards from your community or
            religious
            organization. There could be supplemental DualCurrency income for senior citizens and displaced
            workers
            or
            welfare reform programs through the government. You might earn green incentives through
            environmental
            organizations or youth incentives to get better grades and graduate through the school system. It
            will
            be up
            to
            those who set up DualCurrency programs in collaborative alliances of merchants, transaction vendors,
            employers
            and community organizations to design rules and programs for earning DualCurrency Dollars. Return to
            top
            of
            document</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">

        <p><b class="text-xl" id="spend">How might I spend DualCurrency Dollars?</b></p>
        <br>

        <p>Participating merchants in your community or online would accept DC$ along with cash from
            participants in
            DualCurrency programs. You would look online for a list of participating businesses. Either online
            or in
            stores
            the merchants would explain their offers, including what percentage of DC$ can be redeemed on
            purchases,
            plus
            whether there are any restrictions on available products, services, hours of service, etc. In the
            early
            stages
            of DualCurrency Commerce there will likely be some restrictions on purchases, just as there are with
            other
            promotional offers, such as &lsquo;2 for 1&rsquo; dining, cyber fares, senior citizen discounts and
            so
            forth.
            This is not much different from the early stages of the introduction of paper currency or of credit
            cards,
            where
            few merchants initially accepted paper currency or credit cards, but eventually acceptance became
            widespread.
            Return to top of document</p>
    </div>
    <br>
    <br>

    <!--start here-->
    <div class="text-left m-2">
        <p><b class="text-xl" id="track">How would I track my DualCurrency Dollars?</b></p>
        <br>

        <p>Just as with any bankcard service or online buying program, there would be an &lsquo;electronic paper
            trail&rsquo; for all transactions and an updating of balances in your accounts. You would log-in
            with a
            typical
            security password and look up your earning, spending and balance. Depending on the design processes
            of a
            given
            DualCurrency Network, you may have separate accounts for each type of reward that you earn or all
            your
            rewards
            might be aggregated into a single DualCurrency Dollar account according to their valuation in the
            Network.
            Public kiosks would be readily available as part of the new economic infrastructure for people who
            don&rsquo;t
            have easy home access to computers. As well, the growth of the home computer market, due in part to
            enhanced
            DualCurrency purchasing power would continue to close the gap. p. 7</p>


    </div>
    <br>
    <br>

    <div class="text-left m-2">
        <p><b class="text-xl">Would DualCurrency Dollars be taxed as income?</b> See the response to the
            question:
            What might the IRS say?
            Return
            to top of document</p>
    </div>
    <br>
    <br>

    <div class="text-left m-2">
        <p><b class="tex-xl">How is this different from the universal rewards program that my credit card
                offers?</b>
        </p>
        <br>

        <p>The &ldquo;universal&rdquo; reward programs which are offered by some credit card companies are not
            universal
            in
            the way that we use the term. For the Loyalty Rewards Industry, DCS devised the Universal Rewards
            Solutions
            program <a href="http://www.dualcurrency.com/files/UniversalRewardSolns.pdf" class="text-blue-800 underline"
                targer="_blank" rel="noopener noreferrer">Universal rewards</a> where any participating
            merchant
            could
            accept any participating reward on a DualCurrency (part-cash; part-rewards) basis. This program is a
            way
            to
            stretch consumer cash using existing rewards and to drive desired traffic to participating
            merchants.
            The
            biggest difference with DualCurrency Commerce is that today&rsquo;s customer loyalty rewards only
            reward
            consumer spending. The result is that whoever already has the most money also earns the most rewards
            &mdash;
            not
            a very level economic playing field! DualCurrency Commerce offers to reward many socially beneficial
            activities
            and behaviors; giving blood, community service, wellness activities, recycling and more). &bull;
            EcoBucks:
            an
            Example of Green Incentives from the Consumer/Community Perspective:* Sally Anderson is a volunteer
            for
            the
            Sierra Club. Sally receives 10.00 EcoBucks (E$) for each hour of promoting public awareness on
            environmental
            issues. As she canvasses door to door, the EcoBucks program also offers incentives to community
            members
            for
            recycling, carpooling and improvements to the energy efficiency of their homes. Sally goes on-line
            to
            view
            her
            EcoBucks account balance and to learn where she can spend her EcoBucks. She sees that the Olive
            Garden
            Italian
            Restaurant offers DualCurrency specials at lunchtime. Sally takes a friend to lunch and pays the
            $30.00
            tab
            with
            her DualCurrency enhanced VISA card. Sally saves cash and supports participating businesses. The
            community
            gets
            a better environment. Sierra Club improves volunteer recruitment and retention, while encouraging
            sustainable
            commerce and a new economy. *Businesses and organizations are examples only; no contracts or
            endorsements
            are
            implied. Return to top of document</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">
        <p><b class="text-xl" id="accept">Why would a Merchant accept DualCurrency Dollars? </b></p>

        <br>

        <p>By participating, businesses open up more customers, just as businesses today who take several forms
            of
            payment
            or participate in several sales and promotional programs. The impetus for a business to put on sale
            or
            barter
            its excess or underutilized capacity is what economics terms the marginal cost of production. It is
            the
            same
            principle behind discount offers such as &ldquo;2 for 1&rdquo; dining, senior discounts, dollar
            movie
            night
            or
            cyberfares. After fixed overhead is covered, even highly-discounted sales can be profitable.
            EcoBucks:
            an
            Example of Green Incentives from the Vendor Perspective: The merchant receives $12.00 in US dollars
            and
            E$8.00
            (this is similar to the economics of &ldquo;2 for 1&rdquo; dining specials. Merchants can set their
            own
            ratios
            of dollars to EcoBucks). The Olive Garden enjoys additional sales and incremental profits without
            advertising;
            they also promote sustainability by exchanging underutilized business capacity for EcoBucks earned
            by
            community
            volunteers. p. 8</p>


    </div>
    <br>
    <br>
    <div class="text-left m-2">

        <p><b class="text-xl" id="benefits">What are the benefits to Nonprofit and Community Organizations? </b></p>

        <br>

        <p>DualCurrency Commerce and the Virtual Community Warehouse represent a new source of financial
            resources
            beyond
            philanthropy, government funding and traditional earned income from product sales. Charitable,
            nonprofit
            and
            community organizations continuously seek funding, because both the organizations and their clients
            need
            money
            to buy things. But looking into the modern economy, all of the things that organizations, families
            and
            communities need: healthcare; education; housing; transportation; legal services; marketing services
            retail
            products; office supplies and more are abundantly available whenever people have the required
            purchasing
            power.
            So there may be a shortage of money, but there is no shortage of needed goods and services. Because
            businesses
            everywhere seek more customers for the very products and services that organizations, people and
            communities
            need, DualCurrency Commerce provides the additional purchasing power to close the gap, making needed
            goods
            and
            services more widely available. Examples of DualCurrency funding for the nonprofit sector might
            include:
            volunteer rewards to attract, motivate and retain more volunteers; employee benefits that
            don&rsquo;t
            increase
            the cash labor costs of organizations and don&rsquo;t require more fundraising; subsidies for
            seniors or
            people
            unable to work which don&rsquo;t require philanthropic donations or tax dollars; financing for
            community
            programs for youth and seniors or to upgrade people&rsquo;s work skills; funding to upgrade
            deteriorating
            community infrastructure. This can all be funded through the products and services in the Virtual
            Community
            Warehouse, which represents the abundant productive capacity and human skills of our businesses and
            communities.</p>

    </div>
    <br>
    <br>

    <div class="text-left m-2">
        <p><b class="text-xl" id="tithing">What is meant by DualCurrency Tithing?</b> </p>

        <br>
        <p>DualCurrency Tithing: New Financial Resources without Charity or Taxes Innovation in the nature of
            money,
            as
            well
            as how it is used, offers commercial opportunities with important social benefits. As an example,
            DualCurrency
            Tithing blends DualCurrency pricing with the age-old religious practice of tithing. Everyone in a
            DualCurrency
            Network pays for products and services partly in cash and partly in rewards (generically termed
            DualCurrency
            Dollars). While everyone pays the same prices for goods and services, those with greater financial
            resources
            voluntarily pay a higher percentage of US$, so those with fewer financial resources can pay with a
            higher
            percentage of DC$. For example, an upper middle-class family might pay for a $40.00 restaurant tab
            with
            US$32.00
            and DC$8.00. This would allow a lower income family in the Network to enjoy the very same $40.00
            dining
            experience by spending US$12.00 and DC$28.00. Meanwhile, the restaurant does not get involved in
            this
            arrangement and still gets the ratio of DualCurrency Dollars they want. [See Appendix One of our
            white
            paper.
            <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" targer="_blank"
                rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf</a> It is a bit like teaming-up on
            the benefits of two for
            one
            dining
            or
            senior discounts. Both families have produced value in the economy and each can afford an enjoyable
            family
            dining experience. Return to top of document</p>
    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p> <b class="text-xl" id="liberal">Is this program targeted more at Liberals or Conservatives? </b></p>

        <br>

        <p>DualCurrency Commerce operates outside of the Liberal versus Conservative framework. The DualCurrency
            approach to
            economic development is business-community-led, market-based and profit-driven, yet it is decidedly
            not
            trickle
            down. The program is completely voluntary and does not tell people what they can and cannot buy with
            their
            DualCurrency Dollars. The premise of DualCurrency Commerce is that by removing economic obstacles
            and by
            creating more opportunities for good paying work and community service &mdash; on a more level
            economic
            playing
            field &mdash; society will see a dramatic rise in the number of healthy families and communities.
            DualCurrency
            Commerce eschews the blame of traditional political debates. The list is long of who and what gets
            the
            blame
            for
            problems in the economy: the rich and the poor; politicians on the left or the right; global
            corporations,
            foreign competition and immigrant workers; the unions and poor family values; schools, teachers,
            parents
            and
            children. The targets of blame and people&rsquo;s political perspectives seem to go hand-in-hand.
            Yet
            not a
            single person alive on the planet today created the economic system that we all inherited, so why
            blame
            anyone&#8230; when blame gets us nowhere? Return to top of document</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">
        <p><b class="text-xl" id="benefits2">Business Perspective What would be the business benefits of
                DualCurrency Commerce?
            </b>
        </p>
        <br>

        <p>There are different benefits for different business stakeholders. Here are some examples: o Merchants
            would
            enjoy
            a boost in sales and profits, with customers delivered for free through DualCurrency Networks.
            Electronic
            card
            processing at the point of sale saves merchants time and money over cash, checks, coupons and punch
            cards.
            Merchants would enjoy a variety of DualCurrency incentives for their employees, such as HealthBucks
            and
            Community Service Dollars. o Individuals (employees and customers) would enjoy increased purchasing
            power
            through spending DualCurrency Dollars along with cash. Because a DualCurrency Network would also
            function as
            a
            currency exchange for the different rewards in the system, customers would experience less hassle
            with
            their
            many different loyalty reward programs. o Banks, Credit Card Issuers, Transaction Processors and
            E-Commerce
            Intermediaries would have exciting new programs to offer; attracting more cardholders, driving more
            customers to
            Merchants and enjoying increased transaction revenues. Three important industry trends would be
            supported:
            continued migration from currency and checks to all-electronic commerce; helping the unbanked to
            enjoy
            the
            security and convenience of banking relationships; and spreading electronic banking services
            globally in
            support
            of international economic development efforts. o Customer Loyalty Program Operators, such as the
            airlines,
            credit card companies and many retailers, could help to restore customer loyalty by making their
            rewards
            easier
            to redeem. They could take high liabilities off their books at very low costs. Program Operators
            could
            also
            gain
            valuable demographic </p>

        <p> information on customers buying preferences through voluntary surveys conducted within a
            DualCurrency
            Network. o
            Communities would enjoy new financial resources by capturing currently wasted business wealth within
            the
            Virtual
            Community Warehouse. Communities could use those resources to create full employment, to improve
            economic
            infrastructure, to improve childcare, education and youth mentoring, as well as to address many
            environmental
            protection and energy conservation issues. Return to top of document</p>
    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p><b class="text-xl" id="transaction">How does the transaction settlement system work? </b></p>

        <p>In Online DualCurrency transaction settlement everything is handled on the Internet. When a customer
            makes a
            DualCurrency purchase online, the DualCurrency Rules Server checks the merchant&rsquo;s rule base
            for
            the
            percentage of rewards acceptable in the transaction and calculates the cash and rewards portions.
            The
            rules
            base
            is also checked to confirm that the purchase qualifies for DualCurrency pricing (i.e. there are no
            adverse
            restrictions). The Customer Rewards Account is debited by the DC$ amount and the US$ source (credit
            or
            debit
            card; checking or savings account) is charged for the cash portion. The Merchant would receive the
            negotiated
            cash percentage of the transaction in the same way that he always receives online payments.</p>

        <br>

        <p>For an in-store DualCurrency credit or debit card transaction the key to settlement is exiting with
            credit
            card
            and purchase data from the point-of-sale (POS) terminal to the Internet through a
            &lsquo;gateway.&rsquo;
            The
            information is transmitted to the p. 11</p>
        <br>

        <p> DualCurrency Rules Server where the same process outlined above is repeated. Today there are a
            variety
            of
            Merchant services bundled together by vendors and delivered both to and from the POS terminal
            through
            the
            gateway. These services include warranties, rebates, fraud protection, inventory and others, so
            DualCurrency
            pricing, accounting and transaction settlement would simply piggyback on this established
            transaction
            settlement
            infrastructure.</p>
        <br>




        <p>Until recently, gateway computers were used almost exclusively by larger, big box-style Merchants
            with
            multiple
            check-out lanes and POS terminals. Today, an ever-growing number of &ldquo;mom and pop&rdquo; or
            mid-sized
            retail operations have integrated and Internet enabled cash registers and POS systems. This means
            that
            participation in DualCurrency Commerce would be available to businesses large and small.</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">

        <p><b class="text-xl" id="financial">How are DualCurrency Dollars a new financial instrument and not merely
                an
                electronic
                discount? </b></p>

        <p>If we only think in terms of a single legitimate currency, then any time that a merchant accepts less
            of
            that
            currency the transaction appears to be discounted. The DC$ is, at one and the same time, a discount
            in
            the
            old
            economy and a bridge to the next one. A useful analogy in grappling with this distinction would the
            emergence of
            paper currency, at a time when only gold coins and tradable goods and services served as money. The
            first
            promissory notes and paper currencies were not a discount against the full price of an p. 12</p>

        <br>

        <p>item in gold or goods. They represented the first uncertain steps towards a powerful new financial
            instrument.
            DualCurrency Dollars are backed by contracts with Network Merchants to redeem them in a specific
            ratio
            with
            U.S.
            dollars (that ratio is set by the Merchant). This is dramatically different from a discount which is
            just
            lost
            revenue for the merchant and a smaller taxable transaction for the community. Competitive
            discounting is
            an
            essential feature of modern marketing and commerce. Over time, competitive discounts contribute to
            downward
            pressure on profits and wages. [Read more in our white paper.
            <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" targer="_blank"
                rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf</a>
            An
            unintended consequence of ever-falling prices is often business downsizing and the general decline
            of
            employee
            compensation. Employee wages are, of course, the source of most consumer purchasing power. DC$ can
            restore
            lost
            purchasing power into the hands of employees (as well as owners or investors), without raising the
            cash
            costs of
            the business. Return to top of document</p>
    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p><b class="text-xl" id="merchants">Do merchants risk turning full-cash customers into partial-cash,
                DualCurrency
                customers?
            </b></p>

        <br>

        <p>Every type of sale or promotion runs a similar risk. In today&rsquo;s competitive business
            environment,
            the
            trend
            is for customers to search out the lowest available prices (especially through the Internet),
            therefore,
            downward pressure on prices and margins is likely to continue. In the early stages, DualCurrency
            Commerce
            would
            employ restrictions and redemption guidelines that are traditionally used to steer customers towards
            excess
            capacity that is sold at lower cash prices. Examples include: o No Friday or Saturday nights o New
            members
            only
            o Off-season special o Only available on the Internet o Not good with other special offers o Limit
            one
            per
            customer o One free with one paid o Available between 4:00 &ndash; 6:00 p.m. o And more DualCurrency
            Commerce
            has several distinct advantages over traditional discounting that help to counteract the problem of
            narrowing
            margins and lost revenues. First, in a DualCurrency Network, customers pay normal retail prices in a
            combination
            of cash and rewards, which helps to create stable, workable prices for merchants. Second, discount
            programs
            generally require additional cash expenditures for advertising to make the special offers known. A
            DualCurrency
            Network would drive traffic to Merchants, thereby lowering the cost of customer acquisition and
            retention.
            Third, DC$ would provide an alternative form of purchasing power to owners/investors and to
            employees in
            place
            of what is normally lost from discounting and could similarly be lost in a DualCurrency transaction.
            Fourth,
            while lost revenues from discounting might normally send shock waves throughout an entire network of
            inter-dependent merchants and vendors over time, DC$ again provide alternative resources that create
            stability
            and upward economic momentum among all the parties. Lastly, a DualCurrency transaction p. 13</p>

        <br>

        <p>system could cut money handling costs associated with: counting currency and coins or posting checks;
            managing
            coupons and other promotional devices; and suffering losses from bad checks. One day, DualCurrency
            Dollars
            may
            be as fungible as U.S. dollars. Then, most restrictions would disappear, because the two financial
            instruments
            would be interchangeable. When new financial instruments solve economic problems that their
            predecessors
            could
            not, they eventually become the coin of the realm. This is true, whether we are discussing the
            convenience
            and
            versatility of paper money over gold, or the many advantages of electronic debits and credits in
            computers
            over
            paper currency and checks. Return to top of document</p>

    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p><b class="text-xl" id="circulate">Why don't DualCurrency Dollars circulate like U.S. dollars, barter
                dollars and
                local
                currencies?</b></p>

        <br>



        <p>Circulating currencies lack the flexibility of purely symbolic units of measure. No other symbol is a
            &ldquo;unit
            of exchange,&rdquo; which is one reason that we are having so much trouble with our money.
            Everywhere,
            businesses want to sell things that people need to buy, yet the needed money might be off in the
            Japanese
            stock
            market, invested in Swiss Francs or chasing a Return on Investment in a Chinese construction
            company. It
            is
            impossible to exchange a true symbol, such as an inch, a gallon or a pound. &ldquo;Hey, Charlie,
            pass me
            the
            gallon to measure this liquid.&rdquo; It is equally absurd to charge interest or to offer dividends
            for
            use
            of
            the number nine, the unit of measure quart or the symbol pi. &ldquo;Say, Betty, if you would lend me
            a
            nine
            today to get my taxes done, I&rsquo;ll pay you back a ten when I get my tax return.&rdquo; Yet
            charging
            interest
            and paying dividends is exactly what we do with the symbolic electronic debits and credits called
            money.
            Addressing this strange characteristic of money by having a second unit of measure and accounting
            that
            that
            is
            purely symbolic is one of the breakthroughs in DualCurrency Commerce. But if DualCurrency Dollars do
            not
            circulate can they really be a next generation of money? What makes something money is very simple.
            It
            must
            be a
            reliable tool to increase economic cooperation and to expand the volume of goods and services
            produced
            and
            distributed? If so, it is a form of money. Put even more simply: If businesses redeem it for their
            products
            and
            services&#8230; If employees accept it and spend it as customers&#8230; If communities prosper from
            its
            use&#8230; Then it is money. Return to top of document</p>

    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p><b class="text-xl" id="decisions">How are decisions made in a DualCurrency Network? </b></p>
        <br>

        <p>Decisions made by businesses, employees and customers would most likely look pretty much like they do
            today.
            Owners and managers would make decisions about hiring, promotions, employee compensation, hours of
            business,
            distribution of profits, etc. Businesses would decide what items to produce and sell and would set
            prices
            according to market dictates, but with a new factor: customers would be asking, &ldquo;Where can I
            spend
            my
            DC$
            and what percentage of DC$ can I pay?&rdquo; Employees, who are also customers p. 14</p>

        <br>

        <p>away from work, would still decide where to work and how to spend their paychecks. Labor unions might
            play
            their
            traditional role, only with labor-management relations enhanced through the creation of a growing
            economic
            pie
            and an inherently more cooperative set up. Lastly, dissatisfied customers would have the same
            recourse
            that
            they
            do today; going to the Better Business Bureau or similar agencies. There are other decisions that
            would
            be
            built
            into the design of different DualCurrency Networks by the founding businesses and organizations.
            These
            Founders
            might include banks, credit card and e-commerce companies; merchants; employee, consumer and
            community
            representatives and others. Just as the current economic structure once set up rules and standards
            for
            currency
            and banking and just as the Internet evolved a set of protocol making it easy to access and use, so
            the
            new
            DualCurrency Networks would evolve rules for ease of use and the collaborative use of a valuable
            infrastructure.
            There is much to be learned from the original VISA network which was cooperatively owned and managed
            by
            its
            member banks. Banks set policies and controlled operations through representative boards. While
            individual
            banks
            would compete over and control their own portfolios of cardholders, all banks cooperated by
            following
            the
            VISA
            rules and regulations. A DualCurrency Network would be a similar cooperative association, only made
            up
            of
            retailers, employers, employees and community organizations, as well as banks and transaction
            vendors.
            Here
            are
            four useful references on the topic of new organizational models and collaborative decision-making:
            o
            DCS
            White
            Paper, Sustainable Prosperity Now! (page 15) New Organizational Forms for a New Economic Era
            <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" targer="_blank"
                rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf</a> o The Starfish and the Spider:
            The Unstoppable Power of
            Leaderless
            Organizations by Ori Brafman and Rod Beckstrom
            <a href="http://www.amazon.com/gp/product/1591841437/102-5120480-9149730" class="text-blue-800 underline"
                targer="_blank" rel="noopener noreferrer">Amazon</a>
        </p>
        <br>

        <p>o Birth of the Chaordic Age by Visa Founder Dee Hock
            <a href="http://www.amazon.com/BirthChaordic-Age-Dee-Hock/dp/1576750744" class="text-blue-800 underline"
                targer="_blank" rel="noopener noreferrer">Amazon</a></p>
        <br>

        <p>o A shorter essay by Dee Hock: Chaordic Organizations: Out of Chaos and into Order
            <a href="http://www.ki-net.co.uk/graphics/Dee%20Hock%20%20The%20Chaordic%20Organization.pdf"
                class="text-blue-800 underline" targer="_blank" rel="noopener noreferrer">Essay by Dee Hock</a> Return
            to top of
            document
        </p>



    </div>
    <br>
    <br>

    <div class="text-left m-2">
        <h1 class="text-xl font-bold"> Current Events</h1>
        <br>


        <p id="economic">You assert that the current economic breakdowns can not be repaired through
            a bailout
            or
            by
            better
            monetary policies, but, instead, require a paradigm shift in economics and the creation of a new
            financial
            instrument. Please explain. &bull; &bull;</p>
        <br>

        <p>There are two reasons that seemingly intractable economic problems have persisted into the 21st
            Century.
            The
            first reason is that modern economics operates from the outdated premise of &ldquo;scarce resources
            and
            unlimited wants and needs.&rdquo; When any field of human endeavor operates on a faulty premise,
            such as
            &ldquo;the earth is flat,&rdquo; &ldquo;evil spirits cause disease,&rdquo; or &ldquo;man will never
            fly,&rdquo;
            it is impossible for society to advance in that field.</p>
        <br>





        <p>products and services are no longer &ldquo;scarce,&rdquo; yet how we conduct business keeps them
            financially
            out
            of reach of people who need them. Take the example of food and world hunger. In contrast to economic
            theory,
            food is not a &ldquo;scarce resource.&rdquo; It is an abundant renewable resource. There are not
            &ldquo;unlimited wants and needs&rdquo; for food, but rather practical and biological limits to how
            much
            food
            any human being can consume. Indeed, the consequences of overeating are obesity and poor health. Yet
            people
            die
            of starvation around the world, today, while global agribusiness &mdash; one of the most powerful
            industries
            on
            the planet &mdash; seeks to sell more food to more customers. The issue of world hunger, then, is
            neither a
            matter of scarcity nor of unlimited wants and needs, but instead is first and foremost a matter of
            financial
            resources (meaning money or purchasing power in the hands of would-be food customers). Healthcare,
            education
            and
            renewable energy (sun, wind, hydro and geothermal) are each abundant renewable resources today. In
            ever
            more
            countries around the globe, there are enormous surpluses of desirable products and services. There
            are
            more
            books, newspapers and magazines than it is possible to read. There are more television programs,
            radio
            shows,
            movies, museums, concerts and theatrical events than anyone could ever watch or attend. Eager fans
            can
            not
            enjoy
            even a fraction of the sporting events in progress at any point in time. There are more restaurants
            than
            anyone
            could eat at; more travel destinations than anyone could visit; more classes and lectures than
            anyone
            could
            attend and so forth&mdash;and, there is more of nearly everything, all of the time! So, abundance
            has
            already
            replaced scarcity as a foundation for modern economics and commerce. The modern economy also
            produces
            innumerable products and services using ever-less raw materials, energy, labor and capital.
            DualCurrency
            Commerce provides tools and a profit motive for more sustainable production and living. [See our
            white
            paper
            at:
            <a href="http://www.dualcurrency.com/Awakening.pdf" class="text-blue-800 underline" targer="_blank"
                rel="noopener noreferrer">http://www.dualcurrency.com/Awakening.pdf</a> &ldquo;If your only tool is a
            hammer, then every problem
            looks
            like a
            nail&rdquo; &mdash; Abraham Maslow</p>
        <br>





        <p>The second reason for the persistence of our economic problems is that a national currency, such as
            the
            US
            dollar, is an inadequate financial instrument to distribute the abundance that the modern economy
            produces.
            See
            this question: Why don&rsquo;t DualCurrency Dollars circulate like US dollars, barter dollars and
            local
            currencies? Money-innovation and the Next Economy There is an indisputable relationship between
            innovations
            in
            money and the progression of economic systems. As well, there is an acceleration in the pace of
            change
            in
            both
            our money and in our economic system: o The agricultural era developed over a period of three to
            five
            thousand
            years. Productivity improved and products diversified with the emergence of barter and early forms
            of
            money
            (shells, precious stones, gold and silver coins). o The industrial era matured in a mere three to
            five
            hundred
            years, propelled by the emergence of paper currency and checks, and the growth of banking systems. o
            Today&rsquo;s global high-tech era is mature in an astounding 30 to 50 years, spurred by electronic
            banking,
            credit cards, and e-commerce.</p>



        <br>

        <p>It is not difficult to imagine that a new economic era of Sustainable Prosperity &#8213; turbocharged
            by
            the
            next
            innovation in money and payment platforms &#8213; could suddenly be upon us due to the rapid pace of

            today&rsquo;s business innovation. </p>
    </div>

    <br>
    <br>

    <div class="text-left m-2">

        <p><b class="text-xl" id="government">What should be the role of government in DualCurrency Commerce? </b>
        </p>

        <br>

        <p>There are many public sector institutions that produce useful products and services. Examples include
            public
            schools and universities, public hospitals, job training and public libraries. Therefore some
            government
            institutions can add products and services to the Virtual Community Warehouse. On the other hand,
            there
            would be
            no need in a DualCurrency System for taxpayers to fund competitive duplication of goods and services
            that
            the
            private sector can already produce in abundance. The traditional role of government in providing a
            social
            safety
            net or as the employer of last resort may be reduced when the power of business to produce needed
            goods
            and
            services is unchained from the limitations of dollars only economics. There is a growing bias
            towards
            greater
            control of resources by businesses and communities, and a businesscommunity alliance can efficiently
            provide
            services that we have come to expect taxfunded government programs to supply. On the other hand, in
            the
            short
            run, government has the existing relationships to add DualCurrency purchasing power for seniors,
            stay at
            home
            parents, people in work transitions and so forth. Return to top of document</p>
    </div>
    <br>
    <br>
    <div class="text-left m-2">
        <p><b class="text-xl" id="quick">How quickly could this system be developed and implemented?</b></p>

        <br>

        <p>The world is now witnessing the blinding pace of business mergers and acquisitions, and capital
            allotments by
            traditionally sluggish financial institutions and government regulators in the face of an economic
            crisis.
            Imagine what might be possible by adding a new and hopeful vision of the future. When the time is
            right,
            even
            the oldest paradigms can shift on a dime. One hundred and fifty years ago, the 3000 year old
            economic
            system
            of
            slavery ended in a five year civil war with none of our current technologies of global
            telecommunications
            and
            banking. Similarly the 3000 year old paradigm &ldquo;man will never fly&rdquo; ended in eight
            seconds
            and
            120
            feet at Kitty Hawk. Timing is everything, and nothing is as powerful as an idea that&rsquo;s time
            has
            come!
            The
            DualCurrency Systems&rsquo; business method patents for the financial services industry describe a
            simple
            and
            straightforward enhancement to existing business practices and tools. Credit cards and e-commerce
            can be
            utilized to mobilize the currently underutilized productive capacities and skills of most businesses
            and
            individuals relatively quickly. We know exactly how to produce and distribute food, shelter,
            clothing,
            housing,
            healthcare, education, transportation, travel, recreation, leisure and more that people can afford
            to
            buy. A
            DualCurrency economic revitalization and transformation of current systems is just a matter of doing
            more
            broadly and more sustainably what we already do relatively well. Return to top of document</p>

        <br>

        <p class="text-xl font-bold" id="consumption"> Is this just another model of excessive consumption?
        </p>
        <br>

        <p>Shopping and consumerism could be considered addictive coping mechanisms within a dysfunctional
            economy
            and
            culture. US consumers are depleting and destroying the very life-supporting ecosystems that all life
            depends
            upon. DualCurrency Commerce is designed to promote sustainable economic development by offering
            powerful
            tools
            for economic design. DualCurrency Commerce promotes environmentally sustainable behaviors through
            the
            EcoBucks
            program, as well as promoting ever-greater economic cooperation among businesses and industries to
            eliminate
            Proliferation of Competitive Duplication. The result would be an enormous reduction of waste in
            production
            and
            distribution of goods and services, while simultaneously addressing the social stresses that have
            led to
            a
            culture of consumerism. DualCurrency Commerce also holds the promise of Eco-Conversion &ndash; the
            elimination
            of environmentally harmful products and production processes, without people losing their
            livelihoods
            and
            communities losing their financial resources. Return to top of document</p>
    </div>
    <br>
    <br>

    <div class="text-left m-2">

        <p> <b class="text-xl" id="no">Does DualCurrency Commerce have anything to do with Socialism or Communism?
            </b>
        </p>

        <br>

        <p>Not at all. DualCurrency Commerce is a revolutionary new approach to solving economic problems that
            is
            business
            and community-led, market-based and profit-driven. All the power within the system rests in the
            hands of
            businesses, employees, customers and communities. Self-regulation comes from the common needs of all
            the
            stakeholders and from the underlying, collaborative design principles of the Networks &ndash; much
            like
            industry
            associations or the Internet function. There is no need for taxpayer funding, because abundant
            technologies,
            products and services from businesses, labor and management skills, existing infrastructure and
            renewable
            materials and energy sources are the resources used to produce and distribute wealth, with money
            playing
            an
            enabling but subordinate role. There is no reason to nationalize banks or any other institution,
            which
            is
            turning out &mdash; tragically or comically &mdash; to be a capitalist, not a communist, imperative
            today.
            DualCurrency Commerce offers financial and moral incentives in a balance that invites voluntary
            participation
            and promotes optimum efficiency and cooperation. The zero sum game of traditional money-based
            economics
            is
            transcended through the development of a much bigger economic pie on a win-win and sustainable
            basis.
            This
            transformation in economics as we know it would benefit not only people in the US, but people the
            world
            over.
            The free-enterprise system would be the engine of rapid and sustainable global economic development
            with
            the
            US
            economy demonstrating a high quality of life for all and a new commitment to preserving and
            restoring
            the
            natural environment for future generations and all living beings.</p>

    </div>
    <br>
    <br>
</div>

</div>