

<h1 class="text-green-600">Color test</h1>
<h1 class="text-black">Color test</h1>

<div class="text-black text-center m-6">
    <h1 class="font-extrabold">New money for healthy communities</h1>
    <br>
      <p class="text-left">An environmentally-sustainable and socially-just global economy calls for game-changing innovation. 
          Dual currency commerce can benefit businesses, consumers, communities 
          and the environment alike.</p>
          <br>
      <p class="text-left">Today, businesses reward consumer spending with a myriad of loyalty rewards from frequent flyer 
          miles and credit card points to rebates and discounts. Why not also reward socially responsible and 
          sustainable living behaviors: community volunteerism; improved academic performance by youth; green 
          energy usage; money-saving health and wellness efforts and so forth?</p>
          <br>
          <br>
    
    <h1 class="font-extrabold"> It can be done.</h1>
    <br>
      <p class="text-left">DualCurrency Systems (DCS) has devised an enhancement to credit cards and e-commerce that supports 
          sustainable economic development on a more level economic playing field – more people getting what 
          they need without resorting to taxes or charity. By capturing overlooked wealth, such as empty 
          restaurant tables, empty airline seats, empty college desks and excess retail inventory, the DCS
          innovation addresses a significant inefficiency in the market. In turn, this real wealth creates a 
          next generation of rewards for socially responsible and sustainable living activities.</p>
          <br>
          <br>
    <h1 class="font-extrabold">Everyone wins with dual currency commerce:</h1>
      <ul class="list-disc">
          <br>
          <li>Merchants accept rewards for dual currency deals on their unused capacity</li>
          <li>Communities mobilize the untapped time and talents of people</li>
          <li>Cross-sector coalitions arise from revenue sharing with community organizations</li>
          <li>New payments industry products and revenues drive rapid global adoption</li>
      </ul>

    <h1 class="font-extrabold">Partner with DCS</h1>
      <br>
      <p class="text-left">DCS is a for-profit C-Corporation closely held by socially responsible
           investors. We seek payments industry partners to develop a new global platform for 
           environmentally-sustainable and socially-responsible commerce. We also hold the first 
           issued <!--make hyperlink-->U.S. Patent for Dual Currency Commerce, which can become the cornerstone for a 
           new Money Innovation Patent Commons.</p>
    
</div>